/* =============
    Base
============= */


.margin-con{
    display: grid;
    grid-template-columns: 25px auto 25px;
    grid-template-areas: ". content .";
}

.content{
    grid-area: content;
}

body{
    background-color: #F4DAC8;

    @include lg{
        .margin-con{
            display: grid;
            grid-template-columns: 64px auto 64px;
            grid-template-areas: ". content .";
        }
        
    }
}