/* =============
    Base
============= */


.margin-con{
    display: grid;
    grid-template-columns: 25px auto 25px;
    grid-template-areas: ". content .";
}

.content{
    grid-area: content;
}

/* nav */

ul{
    margin: 0;
    padding: 0;

    li{
        list-style: none;
    }
}

.close{
    width: 25px;
    height: 25px;
}

.show-menu{
    display: block !important;
}

body{
    background-color: #F4DAC8;
}

/*----forms----*/

.search-bar{
    width: 90%;
    padding: 10px;
    border: none;
}

.email{
    width: 90%;
    padding: 10px;
    margin-bottom: 5px;
    border: none;
}
