/* =============
    Base
============= */


.margin-con{
    display: grid;
    grid-template-columns: 30px auto 30px;
    grid-template-areas: ". content .";
}

.content{
    grid-area: content;
}

body{
    background-color: #F4DAC8;
}