/* =============
    Typography
============= */



body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.merri{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 18px;
}

button{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 20px;
}

.price{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 20px;
}

h1{
    font-family: 'Merriweather', serif;
    text-align: center;
    font-weight: 900;
    font-size: 25px;
}


h2{
    font-family: 'Merriweather', serif;
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}

.price{
    text-align: center;
}

.review-header{
    text-align: left;
}

.book-text{
    text-align: center;
}

.footer-title{
    text-align: left;
}

.display{
    font-weight: 600;
    font-size: 16px;
}