/* =============
    Typography
============= */



body{
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    font-size: 15px;

    @include lg{
        font-size: 17px;
    }
}

.op-quan{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 18px;

    @include lg{
        font-size: 25px;
    }
}

button{
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 20px;

    @include lg{
        font-size: 25px;
    }
}

.price{
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;

    @include lg{
        font-size: 25px;
    }
}

h1{
    font-family: 'Merriweather', serif;
    text-align: center;
    font-weight: 900;
    font-size: 25px;

    @include lg{
        font-size: 45px;
    }
}

.product-review{
    color: #F4DAC8;
}


h2{
    font-family: 'Merriweather', serif;
    text-align: center;
    font-weight: 700;
    font-size: 25px;

    @include lg{
        font-weight: 400;
        font-size: 40px;
    }
}

.review-header{
    text-align: left;
}

.book-text{
    text-align: center;
}

.footer-title{
    text-align: left;
}

.display{
    font-weight: 600;
    font-size: 16px;

    @include lg{
        font-size: 23px;
    }
}