/* =============
    hero
============= */



.hero-background{
    background-image: url('../img/hero-img.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-bottom: 15px;
}


.text-box{
    background-color: rgba(0,0,0, 0.4);
    color: white;
    padding: 30px;
    border-radius: 10px;
}

.materials{
    margin-top: 25px;
    margin-left: 21px;
    margin-right: 21px;
    margin-bottom: 50px;
}

.hero{
    @include lg{
        .text-box{
            background-color: rgba(0,0,0, 0.7);
            color: white;
            width: 456px;
            padding: 30px;
            border-radius: 20px;
        }

        .materials{
            width: 1312px;
            height: 536px;
            object-fit: cover;
            margin-left: 64px;
        }
    }
}

