/* =============
    history
============= */



.history{
    background-image: url(img/history.svg);
}

.history-img{
    width: 390px;
    height: 611px;
    object-fit: cover;
}

.history-box{
    background-color: #EDA971;
    transform: translate(65px, -150%);
    width: 192px;
    height: auto;
    padding: 37px;
    border-radius: 10px;
}
