/* =============
    history
============= */



.history{
    background-image: url('../img/history.svg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.history-box{
    background-color: #EDA971;
    width: 192px;
    margin-left: 60px;
    padding: 37px;
    margin-bottom: 12px;
    border-radius: 10px;

    @include lg{
        width: 379px;
        padding: 58px 76px 58px 76px;
        margin-left: 845px;
    }
}
