/* =============
    reviews
============= */


.review-background{
    background-color: #9A5C43;
}

.review-box{
    background-color: white;
    margin-bottom: 18px;
    padding: 25px;
    border-radius: 10px;
}

.review-background{
    @include lg{
        .review-box{
            border-radius: 20px;
        }
    }
}
