/* =============
    reviews
============= */


.review-background{
    background-color: #9A5C43;
}

.review-box{
    background-color: white;
    margin-bottom: 18px;
    padding: 25px;
}

.review-button{
    margin-left: 221px;
}