/* =============
    reviews
============= */


.review-background{
    background-color: #9A5C43;
}

.review-box{
    background-color: white;
    margin-bottom: 18px;
    padding: 25px;
    border-radius: 10px;

    display: grid;
    grid-template-columns: 65% 35%;

    .review-icon{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.review-background{
    @include lg{
        .review-box{
            border-radius: 20px;

            display: grid;
            grid-template-columns: 90% 10%;
        }
    }
}
