/* =============
    three-saws
============= */


.saw-back{
    background-color: white;
    margin-bottom: 50px;
    padding-bottom: 48px;
}

.choices{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "options quantity";
}

.cart{
    margin-left: 92px;
    margin-right: 92px;
}

.three-saw{
    @include lg{
        .saw-con{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas: "dovetail carcass tenon";
        }

        .dovetail{
            margin-left: 64px;
            border-radius: 20px;
        }

        .carcass{
            margin-left: 25px;
            margin-right: 25px;
            border-radius: 20px;
        }

        .tenon{
            margin-right: 64px;
            border-radius: 20px;
        }

        .margin-con{
            display: grid;
            grid-template-columns: 36px auto 36px;
            grid-template-areas: ". content .";
        }
    }
}