/* =============
    Header
============= */


header{
    background-color: #9A5C43;
    padding-top: 36px;
    padding-bottom: 18px;


    .header-con{
    display: flex;
    justify-content: center;
    }
    

    @include lg{
        header{
            background-color: #9A5C43;
            padding-top: 36px;
            padding-bottom: 18px;
        }

        .logo-header{
            width: 25%;
            margin-left: 32%;
        }
    }


        @include lg{
            display: none;
        }

        button{
            border: none;
            background-color: transparent;
            color: $black;
            font-size: 20px;

            &:hover{
                cursor: pointer;
            }
    }
}
