/* =============
    Buttons
============= */
.options {
  background-color: #EDA971;
}

.quantity {
  background-color: #EDA971;
}

.cart {
  background-color: #EDA971;
}

.show {
  background-color: #F4DAC8;
}
